.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_form {
  width: 100%;
  display: flex;
  gap: 10px;
  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__input {
    padding-left: 10px;
  }
  &__input_title {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}
