* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  height: 100%;
  background-image: url(./app/assets/background.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  color:white;
  overflow: hidden;
}
html {
  height: 100%;
}

:root {
  --container-width: 90%;
  --container-max-width: 2000px;
}
